<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>998439436362-frhjbdh1d9iq669s5k6rqgks4fh2mutj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.998439436362-frhjbdh1d9iq669s5k6rqgks4fh2mutj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>998439436362-6uauofibjkg9sffqj4qa3e7fqadcf424.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAv8K7q8mv3k9P3U98c4-uDb1G07gLNdxE</string>
	<key>GCM_SENDER_ID</key>
	<string>998439436362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sprestay.video4app</string>
	<key>PROJECT_ID</key>
	<string>try-to-count-items</string>
	<key>STORAGE_BUCKET</key>
	<string>try-to-count-items.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998439436362:ios:39aeda6f6a50c0661fe6b3</string>
	<key>DATABASE_URL</key>
	<string>https://try-to-count-items.firebaseio.com</string>
</dict>
</plist>